*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: whitesmoke;
}

html,body{
    width: 100%;
    height: 100%;
}

#purple{
    height: 100vh;
    width: 100vw;
    z-index: 99;
    top: 0;
    position: fixed;
    background-color:#EDBFFF ;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}

.main{
    background-color:#0F0D0D;
    cursor: none;
}

.page1{
   min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 101;
}

#nav img{
    height: 115px;


}

#navpt2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:snow;
}

#nav h4{
    font-size: 14.5px;
    font-weight: 600;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.4px solid #fff;
}

.page1 h1{
    font-size: 6.1vw;
    font-weight: 300;
    font-family: PP mori;
    /* margin-top: 12vw; */
    margin-left: 7vw;
    letter-spacing: -4px;

}

.page1 h2{
    font-size: 6.1vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 23vw;
    letter-spacing: -3px;

}

.page1 video{
    margin-top: 9vw;
    width: 60%;
    /* margin-left: 20%; */
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 100vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #2e2b2b;
    position: relative;
    z-index: 9;

}

.page2 h1{
    font-family: pp mori;
    font-size: 7.5vw;
    font-weight: 900;
    color:#111;

}

.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}

.page2-left{
    /* background-color: aqua; */
    width: 37%;
}

.page2-right{
    /* background-color: aqua; */
    width: 23%;
}

.page2-left h2{
    font-family: pp mori;
    font-size: 3.6vw;
    font-weight: 100;
    line-height: 4vw;
    letter-spacing: -1px;
    color:#111;
}

.page2-right p{
    font-family: pp mori;
    font-size: 1.5vw;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    color: #111;
    background-color: #EDBFFF;
    margin-top: 20px;
}

.page3{
    min-height: 120vh;
    width: 100%;
    position: relative;
    padding-top: 65px;
    z-index: 9;
   

}

.page3 h1{
     font-size: 6.5vw;
     font-family: 200;
     color: #111;
     margin-left: 80px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    white-space: nowrap;
    
}

.page3-part1 img{
    /* height: 600px;
    width: 450px; */
    margin-top: 30px; 
    margin-right: 40px;
    padding: 30px 60px;
    margin: 50px 50px; 
    height:460px;
     /* margin-top: 160px; */
}

.page3 button{
    margin-left: 670px;
    margin-right: 300px; 
    background-color: #EDBFFF;
    color: #111;
    font-size: 19px;
    padding: 20px 35px;
    border-top-left-radius: 0px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: futura;
    
}

.page3 button:hover{
    background-color: #2e2b2b;
    color: #fff;
}
/* .page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content:left;

}

.page3-part2 img{
    object-fit: cover;
    height: 600px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-left: 150px;
    
} */

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 130px 100px;
}

.elem{
    /* background-color: #111; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.elem img{
    position: absolute;
    opacity: 0;
    height: 290px;
    width: 360px;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
    
}

.elem img:nth-child(1){
    left: 3%;
}

.elem img:nth-child(3){
    right: 4%;
}

.text-div{
    /* background-color: aqua; */
    height: 139px;
    overflow: hidden;
}

.elem h1{
    color: rgb(227, 219, 219)797;
    font-size: 7vw;
    font-weight: 500;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    color: rgb(245, 97, 223);
    transform: translateY(-100%);

}

.elem:hover img{
    transform: translateY(0%) rotate(0deg);
    opacity: 1;
}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}

.page5 h2{
    font-family: pp mori;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 5px 20px;
    border-top: 2px solid grey;
}

.box:nth-last-child(1){
     border-bottom: 2px solid grey;

}

footer{
    height: 90vh;
    width: 100%;
    background-color: #fff;
}